/* カード */
.card {
  margin: 30px auto;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  width: 300px;
  height: 260px;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-contact {
  display: flex;
}
.card-contact table > p {
  margin: 0;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  color: black;
  background: blue;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: #4f96f6;
  color: #fff;
  font-weight: bold;
}
.card-link a:hover {
  background-color: #6bb6ff;
}

/* レスポンシブ化 */
@media (min-width: 800px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }
}